body{margin:0}
.advertising_box{
    width: 100%;
    height: 100px;
    background-color: #EEEEEE;
}
.first_title{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.first_word{
    color: darkred ;
}
.top_title a{
    margin-left: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: "Cambria Math", serif;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.second_title{
    display: flex;
    width: 100%;
    height: 90px;
    background-color:darkred ;
    justify-content: space-around;
    align-items: center;
}
.mid_title a{
    font-size: 12px;
    font-weight: bold;
    font-family: "Cambria Math", serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.mid_title{
    color: white;
}
.third_title{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
}
.bottom_title a{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Cambria Math", serif;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.z{
    font-family: "Times New Roman", serif;
    font-size: 30px;
    text-align: center;

}
.x{
    font-family: "Candara Light", serif;
    font-size: 10px;
    text-align: center;

}
button{
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    color: white;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 7px 15px;
    background-color: crimson;
    cursor: pointer;
}




.header {
    width: 100%;
    height: 30px;
    clear: both;
}
.footer{
    width: 100%;
    height: 30px;
    clear: both;
    border: 1px solid silver;
}
.row{
    width: 100%;
    height: 90px;
    background-color: darkred;
    float: left;

}
.top_title2{
    text-align: center;
    margin-top: 7px;
}
.top_title2 a{
    margin-left: 10px;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    font-family: "Cambria Math", serif;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.mid_title2{
    color: white;
    text-align: center;
    margin-top: 26px;
}
.mid_title2 a{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    font-family: "Cambria Math", serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.q{
    font-family: "Times New Roman", serif;
    font-size: 30px;
    text-align: center;
    margin: 0 370px 0 370px;

}
.bottom_title2{
    text-align: center;
    margin-top: 5px;
}
.bottom_title2 a{
    margin-left: 10px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-family: "Cambria Math", serif;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}


